body {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* height: 100vh; */
    background: #000;
  }
  
  h1 {
    font-size: 4em;
    color: #fff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 8.7rem;
  }

  /* Styles for typing animation  */

  .var-highlight {
    font-size: 3em;
    color: #fff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  
  /* .string-highlight {
    color: rgba(253, 149, 90, 0.8);
  }
   */

  #typewriter {
    line-height: 75px;
    letter-spacing: -4px;
    font-size: 30px;
    margin: 0;

  }
  #typewriter:after {
    font-size: 96px;
    color: #28dde0;
    content: "|";
    -webkit-animation: blink 500ms linear infinite alternate;
            animation: blink 500ms linear infinite alternate;
  }
  
  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  


/* This Styling is for the Navigation  */
/* nav toggle */
.nav-toggle {
  cursor: pointer;
  height: 2rem;
  right: 2rem;
  position: fixed;
  top: 2rem;
  width: 3.6rem;
  z-index: 2;
}
.nav-toggle:hover {
  opacity: 0.8;
}
.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: white;
  content: "";
  height: 0.4rem;
  transition: all 0.5s;
  width: 100%;
}
.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}
.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}
.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}
.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}
.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}
.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* nav */
.nav {
  background: #28dde0;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  height: 100vh;
  right: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  transition: right 0.5s;
  width: 20rem;
  z-index: 1;
}
.nav.expanded {
  right: 0;
}
.nav ul {
  list-style: none;
  margin: auto 0;
  padding: 0;
}


.divPosition {
  height: 43vh;
}


/* 
.tags {
  font-family: 'Yellowtail', cursive;
  color: #515152;
  position: absolute;
  bottom: 0;
  left: 0;
  font-style: italic;
  font-size: 20px;
} */

.top-tags {
  bottom: auto;
  top: 1rem;
}

/* .bottom-tags {
  position: absolute;
  font-family: 'Yellowtail', cursive;
  bottom: 20rem;
  top: auto;
  left: 70px;
  font-size: 20px;
  color: #515152
}

.top-tags:after {
  content: '<body>';
  font-style: italic;
  font-family: 'Yellowtail', cursive;
  color: #515152;
  font-size: 20px;
  position: absolute;
  margin-left: 2rem;
}

.divPosition:before {
  font-style: italic;
  font-family: 'Yellowtail', cursive;
  content: '<h1>';
  color: #515152;
  font-size: 20px;
  position: absolute;
  margin-top: -38px;
  left: 120px;
} */

.tags {
  font-family: 'Yellowtail', cursive;
  color: #515152;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  font-style: italic;
  font-size: 20px;
}

.tagSpacing {
  margin-left: 35px;
}

.tagSpacingLarg {
  margin-left: 100px;
}

.gray-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 4px;
  margin-top: 3rem;
  display: block;
  color: #8d8d8d;
}

/* .secPosition p:first-of-type:before {
  content: '<p>';
  font-family: 'Yellowtail', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -2rem;
  left: -2rem;
}

.secPosition p:last-of-type:after {
  content: '<p/>';
  font-family: 'Yellowtail', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: -2rem;
  bottom: -1rem;
}
 */

.flat-button {
  color: #08fdd8;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
  margin-top: 20px;
  position: relative;
  width: 100%;
  max-width: 220px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
}

/* .secPosition {
  left: 100px;
  position: absolute;
  bottom: 230px;
}

.btnPosition {
  left: 100px;
  position: absolute;
  bottom: 100px;
} */

.btnPosition a:hover {
  color: #0056b3;
  text-decoration: none;
}


#btn{
  position: relative;
  overflow: hidden;
  transition: all .5s;
  border: 2px solid #08fdd8;
  padding: 0px 28px;
  font-size: 16px;
  cursor: pointer;
}

#btn:before{
  width: 100%;
  height: 100%;
  content: '';
  margin: auto;
  position: absolute;
  top:  -100%;
  left: -100%;
  background: #08fdd8;
  transition: all .5s;
  z-index: -1;
}

#btn:hover{
  color: white;
}

#btn:hover:before{      
    top: 0;
    left: 0;
}

@media (max-width: 767.98px) { 

  .top-tags {
    top: 7rem;
  }

  .tags {
    left: 1rem;
  }

  .bottom-tags {
    bottom: 25rem;
    left: 69px;
  }

  .divPosition {
    left: -43px;
    top: 220px;
  }

  .secPosition {
    left: 100px;
    bottom: 314px;
  }

  .btnPosition {
    left: 100px;
    bottom: 160px;
  }

  #typewriter {
    line-height: 35px;
    letter-spacing: 0px;
    font-size: 13px;
  }

  #typewriter:after {
    font-size: 40px;
  }
}

.abtHeader {
  font-family: 'Open Sans', sans-serif;
  color: #08fdd8;
  font-weight: 700;
  font-size: 40px;
  line-height: 6.7rem;
}

/* .aboutSection {
  position: absolute;
  top: 120vh;
  left: 10vh;
} */

/* h2 {
  font-family: 'Open Sans', sans-serif;
  color: #08fdd8;
  font-weight: 700;
  margin-top: 0;
  position: relative;
  margin-bottom: 40px;
  left: 20px;
  font-size: 40px;
  line-height: 6.7rem;
} */

/* .abtHeader::before {
  font-weight: 200;
  content: '<h2>';
  font-family: 'Yellowtail', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: -2rem;
  top: -3rem;
} */

/* .abtHeader::after {
  font-weight: 200;
  content: '</h2>';
  font-family: 'Yellowtail', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: -2rem;
  bottom: -3rem;
} */

/* .aboutSection p:first-of-type:before {
  content: '<p>';
  font-family: 'Yellowtail', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -2rem;
  left: -1rem;
}

.aboutSection p:last-of-type:after {
  content: '<p/>';
  font-family: 'Yellowtail', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: -1rem;
  bottom: -1rem;
} */


/* Flexbox layout */
/* .flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
}  

.flex-child:first-child {
  margin-right: 20px;
}  */



@media (max-width: 767.98px) { 
  .aboutSection {
    top: 100vh;
  }
}


/* Conatact form popup on home page  */
    
:root{
  --succes-color: #2ecc71;;
  --error-color: #e74c3c;
}


.form{
  padding: 30px 40px;
}

.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label{
  color:#777;
  display: block;
  margin-bottom: 5px; 
}

.form-control input
{
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;   
}

.form-control input:focus{
  outline: 0;
  border-color: #777;

}

.form-control.success input {
  border-color: var(--succes-color);
}

.form-control.error input {
  border-color: var(--error-color);    
}

.form-control small{
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small{
  visibility: visible;
}
.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 16px;
  margin-top:20px;
  width:100%;
}

.form-control{
  border-radius:80px;
  margin: 10px ;
  border:20px;
}
.font-primary{
  font-family: 'Kaushan Script', cursive;
  color: #1687c9;
  margin-bottom: -2.5rem;
}
.font-secondary{
  font-family: 'Saira', sans-serif;
}
.form-area{
  border:10px solid #fff;
  border-radius: 30px;
  background-color:#000
}


form input,
textarea,
select,
option {
  padding: 10px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #FFF;
  color: #FFF;
  outline: none;
}

input#firstname {
  width: 100%;
  max-width: 460px;
  margin: 20px;
}

input#subject {
  width: 100%;
  /* max-width: 460px;
  margin: 20px; */
}

input#email {
  width: 100%;
  max-width: 460px;
  margin: 20px;
}

textarea#message {
  width: 100%;
  /* max-width: 460px; */
  /* margin: 20px; */
}

input#submit-btn {
  margin: 20px;
  width: 100px;
  border: 2px solid #FFF !important;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  /* transition */
  
  transition: 0.25s ease-in-out 0s;
  display: block;
}

input#submit-btn:hover {
  cursor: pointer;
  background: #FFF;
  color: #000;
  /* scale */
  
  transform: scale(1.25);
}
/* Placeholder style */

::-webkit-input-placeholder {
  color: #FFF;
  opacity: 1;
}

::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
/* firefox 19+ */

:-ms-input-placeholder {
  color: #FFF;
  opacity: 1;
}
/* ie */

input:-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
    
/* validation form inputs for contacts */

input.valid{
  border-color: #06D85F; 
}

input.invalid{
  border-color: #df0c13;
}
input + p{
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
  color: #df0c13;
   opacity: 0;
   margin: 0px 10px;
   height: 0;
}

input.invalid + p{
  opacity: 1;
  height: auto;
  margin: 20px;
}
.formsg{
  left: 100px;
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}



